html,
body {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%
}

body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mainContainer {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}

.main {
    background-color: cadetblue;
    flex: 1 0 auto;
}
